.add-to-cart-btn {
	background-color: #fbb346;
	border: none;
	color: white;
	border-radius: 10px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 30px;
	width: 140px;

	.add-to-cart-btn-img {
		width: 20px;
		object-fit: contain;
	}
}

.add-to-cart-btn:hover {
	transition: all 0.3s ease;
	background-color: #f59c16;
}
