#admin-home-content {
	display: flex;
	justify-content: space-evenly;
	margin-top: 20px;

	.column {
		width: max-content;
		background-color: #f1f1f1;
		padding: 10px;
		border-radius: 10px;
	}

	#pending-header {
		background-color: #ee3d22;
	}

	#progress-header {
		background-color: #fbb346;
	}

	#ready-header {
		background-color: #5db140;
	}

	.header {
		margin-bottom: 10px;
		width: 100%;
		border-radius: 10px;
		text-align: center;
		color: white;
		font-weight: 600;
		padding: 5px 0;
	}
}
