.food-item {
	width: 210px;
	height: 330px;
	background-color: #fff;
	box-shadow: 0 8px 10px #b3b2b2;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px;

	a {
		text-decoration: none;
		color: black;
	}

	a:hover {
		text-decoration: none;
		color: black;
	}

	.food-item-img {
		margin: 20px auto;
		width: 168px;
		object-fit: contain;
	}

	.text-holder {
		width: fit-content;
		display: flex;
		margin: 0 20px;
		flex-direction: column;
		align-items: flex-start;

		.food-item-title {
			float: left;
			width: min-content;
			font-weight: 700;
		}

		.food-item-price {
			margin: 5px 0;
			width: min-content;
		}

		.food-item-rating {
			margin: 5px 0 0 60px;
			width: min-content;
		}
	}
}
