#home-grid {
  display: grid;
  grid-template-columns: min-content 14fr;
  grid-template-rows: 84px auto;

  #content {
    grid-row: 2/3;
    grid-column: 2;
  }
}

.cool-id {
  img {
    margin: 10% 0 0 30%;
    width: 300px;
    object-fit: contain;
  }
}

#cool-id {
  img {
    margin: 10% 0 0 30%;
    width: 500px;
    object-fit: contain;
  }
}
