.individual-food-item {
	max-width: 800px;
	margin: 30px auto;
	box-shadow: -5px -8px 10px #b3b2b2;
	box-shadow: 5px 8px 10px #b3b2b2;
	border-radius: 10px;

	.back-btn {
		width: fit-content;
		padding-top: 20px;
		margin: 20px 0 0 20px;
		border: none;
		background-color: #fff;

		img {
			transition: all 0.3s ease;
			width: 25px;
		}
	}

	.back-btn:hover {
		img {
			width: 30px;
		}
	}

	.individual-food-item-content {
		max-width: 750px;
		margin: 0 auto;
		margin-bottom: 30px;

		.item {
			margin: 50px 0;
			display: flex;

			.individual-food-item-img {
				width: 300px;
				object-fit: contain;
			}

			.individual-food-item-text {
				margin-top: 50px;
				margin-left: 70px;

				.individual-food-item-text-title {
					font-weight: 700;
					font-size: 30px;
				}

				.individual-food-item-text-rating {
					font-size: 15px;
				}

				.individual-food-item-text-tried-by {
					font-size: 15px;
				}

				div {
					display: flex;
					justify-content: space-between;
					align-items: center;
					margin-top: 50px;
					width: 240px;

					.individual-food-item-text-price {
						font-weight: 700;
						font-size: 24px;
						margin: 0;
					}

					.individual-food-item-text-img {
						background-color: #fbb346;
						border: none;
						color: white;
						border-radius: 10px;
						display: flex;
						justify-content: space-between;
						align-items: center;
						height: 30px;
						width: 130px;

						img {
							margin-left: 10px;
							width: 20px;
							object-fit: contain;
						}

						span {
							margin-right: 15px;
						}
					}
				}
			}
		}

		.individual-food-item-reviews {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			margin-bottom: 50px;

			h3 {
				margin-bottom: 30px;
			}

			.user-review {
				position: relative;
				width: 750px;
				min-height: 250px;

				.quotes {
					position: absolute;
					top: 15px;
					right: 30px;
				}

				.rounded-circle {
					position: absolute;
					width: 100px;
					border: 2px solid #fbb346;
					background-color: #fff;
					padding: 5px;
					z-index: 2;
				}

				.user-review-text {
					position: absolute;
					width: 700px;
					margin-top: 30px;
					margin-bottom: 30px;
					margin-left: 50px;
					padding: 20px;
					border: 2px solid #fbb346;
					border-radius: 20px;

					.text {
						margin: 10px 0;
						margin-left: 50px;

						h4 {
							font-weight: 700;
						}

						p {
							font-size: 14px;
						}
					}
				}
			}
		}
		.individual-food-item-similar-food {
			display: flex;
			align-items: center;
			overflow-y: auto;
			scroll-behavior: smooth;
		}
	}
}
