.selected-div {
	color: black;
	margin: 3px 0;
	height: 70px;
	border-radius: 0 20px 20px 0;
	background-color: #fff;
	i {
		color: black;
	}
	li {
		color: black;
	}
}

.highlight {
	transition: all 0.3s ease;
	margin: 2px 0;
	width: 7px;
	height: 70px;
	background-color: #ffe7c2;
	border-radius: 10px;
	border-radius: 0 10px 10px 0;
}

.div {
	transition: all 0.1s ease;
	margin: 2px 0;
	width: 7px;
	height: 70px;
}

.close {
	max-width: 90px;

	#nav-links a {
		height: 74px;

		i {
			margin: 27px 20px;
		}

		li {
			transform: translateX(30px);
			visibility: hidden;
		}
	}
}

.open {
	max-width: 230px;

	#nav-links a li {
		transform: translateX(0);
		visibility: visible;
	}
}

#sidenav {
	transition: all 0.3s ease;
	font-family: 'Open Sans', sans-serif;
	height: 100vh;
	color: white;
	background-color: #ff9f0d;

	#selected-divs {
		position: absolute;
		top: 200px;
	}

	#nav-links {
		transition: all 0.3s ease;
		padding: 100px 0;
		display: flex;
		flex-direction: column;
		padding-top: 200px;

		a {
			display: flex;
			height: 74px;
			transition: all 0.3s ease;
			margin: 0px 13px;
			color: #fff;

			i {
				margin: 30px 20px 0;
			}

			li {
				list-style: none;
				font-size: 24px;
				padding: 20px;
				transition: all 0.3s ease;
			}
		}

		a:hover {
			background-color: #ffe7c2;
			color: black;
			border-radius: 10px;
		}
	}

	#burger {
		cursor: pointer;
		position: absolute;
		top: 8vh;
		left: 32px;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		width: 25px;
		height: 30px;

		div {
			width: 25px;
			transition: all 0.3s ease;
			height: 3px;
			background-color: #fff;
			border-radius: 30%;
		}

		/* Hamburger */
		.toggle .line1 {
			transform: rotate(-45deg) translate(-5px, 6px);
		}
		.toggle .line2 {
			opacity: 0;
		}
		.toggle .line3 {
			transform: rotate(45deg) translate(-5px, -6px);
		}
	}

	.toggle .line1 {
		transform: rotate(-45deg) translate(-5px, 6px);
	}
	.toggle .line2 {
		opacity: 0;
	}
	.toggle .line3 {
		transform: rotate(45deg) translate(-5px, -6px);
	}
}
