#add-food {
	margin: 50px auto;
	max-width: 700px;

	.btn {
		font-size: 20px;
		padding: 5px 20px;
		border: none;
		border-radius: 5px;
		transition: all 205ms ease-in-out;

		&:focus {
			outline: none;
		}
	}

	.rem-btn {
		margin-left: 20px;
		height: 40px;
		font-size: 20px;
		padding: 0 20px;
		border: 2px solid gray;
		border-radius: 5px;
		transition: all 205ms ease-in-out;
		background-color: #fbb346;

		&:focus {
			outline: none;
		}
	}

	#add-form {
		margin-top: 5px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		.form-input {
			width: 100%;
			display: flex;
			justify-content: space-between;
			margin: 10px 30px;

			label {
				margin-right: 5px;
			}
		}

		.tags {
			display: flex;
			flex-direction: column;
			align-items: center;

			.tag {
				display: flex;
				align-items: center;
			}
		}

		.form-group {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			width: fit-content;
			margin: 0;

			label {
				font-size: 20px;
			}

			input {
				margin-top: 6px;
				min-width: 18em;
				height: 37px;
				padding: 0px 10px;
				font-size: 16px;
				background-color: #f3f3f3;
				border-radius: 4px;
				border: none;
				margin-bottom: 31px;
				transition: all 500ms ease-in-out;
				&:focus {
					outline: none;
					box-shadow: 0px 0px 12px 0.5px rgb(214, 157, 72);
				}
			}
		}
	}
}
