#cart-page {
  display: flex;
  flex-direction: column;
  margin: 50px;

  #cart-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;

    h1 {
      font-family: sans-serif;
    }

    #cart-order {
      height: 40px;
      font-size: 20px;
      padding: 0 20px;
      border: 1px solid gray;
      border-radius: 5px;
      transition: all 205ms ease-in-out;
      background-color: #fbb346;

      &:focus {
        outline: none;
      }
    }
  }

  #cart-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 50px;
    border-radius: 10px;
    background-color: whitesmoke;
    min-height: 400px;

    #cart-content {
      .cart-item {
        background-color: #ffffff;
        padding: 20px;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        min-height: 100px;
        max-height: 150px;

        .div-1 {
          display: flex;
          justify-content: space-between;

          img {
            border-radius: 20px;
            width: 150px;
            object-fit: contain;
          }

          h1 {
            margin-left: 50px;
            margin-top: 20px;
          }
        }

        .div-2 {
          p {
            font-size: 26px;
            font-weight: 800;
            margin-right: 40px;
          }

          button {
            height: 50px;
            width: 50px;
            font-size: 20px;
            margin: 0 5px;
            object-fit: contain;
            border: 1px solid gray;
            border-radius: 5px;
            transition: all 205ms ease-in-out;
            background-color: #fbb346;
          }
        }
      }
    }

    #cart-total {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h1,
      h2 {
        margin: 0 50px;
      }
    }
  }
}
